body {
    margin: 0;
    background-color: hotpink;
    text-align: center;
    display: grid;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    height:300px;

}




